body {
    background-color: #F5F5DC;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 5%;
    }

    #h1-elem {
        font-size: 4vw;
        text-align: center;
    }

    #speech-instructions {
        text-align: center;
    }

    textarea {
        width: 100%;
        height: 10vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 5px;
        margin-bottom: 5%;
    }

    .btn {
        display: block;
        width: 100%;
        margin: 5% auto;
        padding: 3% 6%;
        border: none;
        background-color: #8B4513;
        color: #fff;
        font-size: 3vw;
        cursor: pointer;
        border-radius: 5px;
    }
}

.hide {
    display: none;
}

h1 {
    font-size: 10vw;
    font-family: cursive;
    color: #45230B;
}

textarea {
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin-bottom: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}

#speech-instructions {
    text-align: center;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 8vw;
}

.btn {
    display: block;
    width: 100%;
    margin: 5% auto;
    padding: 3% 6%;
    border: none;
    background-color: #8B4513;
    color: #fff;
    font-size: 3vw;
    cursor: pointer;
    border-radius: 5px;
}

.mt-5 {
    margin-top: 5vh;
}

.mt-2 {
    margin-top: 2vh;
}

.mt-1 {
    display: flex;
    margin-top: 1vh;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.onstart-animation {
    animation: blink 1.5s infinite;
}
